<div class="container">
  <div class="form-container">
    <div class="title">Create Account</div>
      <form [formGroup]="createAccountForm">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="createAccountForm.controls.email.invalid">{{createAccountForm.controls.email.hasError('required')?'Email is Required':'Please enter a valid email'}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username"/>
          <mat-error *ngIf="createAccountForm.controls.username.invalid">{{createAccountForm.controls.username.hasError('required')?'Username Required':'Username should be no more than 10 characters'}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error *ngIf="createAccountForm.controls.username.invalid">{{createAccountForm.controls.username.hasError('required')?'Password Required':'Password should be at least 6 characters'}}</mat-error>
        </mat-form-field>
      </form>
      <div class="button-container">
        <button mat-raised-button [disabled]="createAccountForm.invalid" (click)="create()" class="login-button">
          Create Account
        </button>
        <p>OR</p>
        <button mat-button routerLink="/login">Login</button>
      </div>
  </div>
</div>
